<div ng-controller="ChatController">

	<form ng-submit="addMessage()" name="chatMsg">

		<table>
			<tr>
				<td>Chat Text</td>
				<td><textarea ng-model="message"></textarea> <span
					ng-bind="max - message.length">140</span></td>
				<td>
					<button ng-disabled="message.length>140 || message.length==0">Send</button>
				</td>
			</tr>
		</table>
	</form>

	<p ng-repeat="message in messages|orderBy:'time':true">
		<time>{{message.time|date:'HH:MM'}}</time>
		<span>{{message.message}}</span>
	</p>

</div>