<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="Resources/CSS/styles.css">
<link rel="stylesheet" href="Resources/CSS/bootstrap.min.css">
<link rel="stylesheet"
	href="Resources/fontawesome-free-5.8.1-web/css/all.min.css">
</head>
<body ng-app="myApp" style="background-color: #F2F3F5;">
	<nav ng-controller="UserController"
		class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
		<div class="container">
			<a class="navbar-brand" href="#/userHome"> <img title="BlogBook"
				src="Resources/Images/logo.min.png" alt="Blogbook"
				style="width: 30px;">
			</a>
			<div class="row" style="width: 100%;">
				<div class="col-sm-7" style="margin: auto 0;">
					<div class="input-group">
						<input type="text" class="form-control form-control-sm"
							placeholder="Search" />
						<div class="input-group-append">
							<button class="btn btn-sm btn-primary" type="submit">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<ul class="nav justify-content-end">
						<li class="nav-item"><a class="nav-link mr-1"
							href="#/showUser"><img
								src="http://localhost:{{portNo}}/BlogBookMiddleware/showProfilePic/{{currentUser.username}}"
								style="max-height: 30px; max-width: 30px;" class="mx-2" />{{currentUser.firstName}}</a></li>
						<li class="nav-item"><a class="nav-link ml-1"
							href="#/userHome">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#/friends"
							title="Friends"> <i class="fas fa-user-friends"></i>
						</a></li>
						<li class="nav-item"><a class="nav-link" href=""
							title="Logout" ng-click="logout()"><i
								class="fas fa-sign-out-alt"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<!-- Left Navigation Bar -->
				<ul class="nav nav-pills flex-column" role="tablist">
					<li class="nav-item left-nav-item"><a id="tab-blogs"
						class="nav-link py-1" href="#/blog" data-toggle="pill"> <img
							src="Resources/Images/blog-icon.png" width="25px" class="mr-1" />Blogs
					</a></li>
					<li class="nav-item left-nav-item"><a id="tab-forums"
						class="nav-link py-1" href="#/forum" data-toggle="pill"> <img
							src="Resources/Images/forum-icon.ico" width="25px" class="mr-1" />Forums
					</a></li>
					<li class="nav-item left-nav-item"><a id="tab-jobs"
						class="nav-link py-1" href="#/job" data-toggle="pill"> <img
							src="Resources/Images/job-icon.png" width="25px" class="mr-1" />Jobs
					</a></li>
				</ul>
			</div>

			<div class="col-md-7">
				<div ng-view></div>
			</div>
			<div class="col-md-3 bg-info" ng-controller="ChatController">
				<p ng-repeat="message in messages|orderBy:'time'">
					<time>{{message.time|date:'HH:MM'}}</time>
					<span>{{message.message}}</span>
				</p>
				<form ng-submit="addMessage()" name="chatMsg">
					<table>
						<tr>
							<td>Chat Text</td>
							<td><input type="text" ng-model="message" /> <span
								ng-bind="max - message.length">140</span></td>
							<td>
								<button ng-disabled="message.length>140 || message.length==0">Send</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		<div class="row bg-light text-dark">
			<div class="col">
				<a href="#/aboutus">About Us</a>
			</div>
		</div>
	</div>

	<script src="Resources/JS/jquery.min.js"></script>
	<script type="text/javascript" src="Resources/JS/angular1.3.1.min.js"></script>
	<script type="text/javascript" src="Resources/JS/angular-route1.3.1.js"></script>
	<script type="text/javascript"
		src="Resources/JS/angular-cookies1.3.1.js"></script>

	<script type="text/javascript" src="RouteConfig.js"></script>
	<script type="text/javascript" src="Controllers/UserController.js"></script>
	<script type="text/javascript" src="Controllers/BlogController.js"></script>
	<script type="text/javascript"
		src="Controllers/BlogCommentController.js"></script>
	<script type="text/javascript" src="Controllers/ForumController.js"></script>
	<script type="text/javascript"
		src="Controllers/ForumCommentController.js"></script>
	<script type="text/javascript" src="Controllers/FriendController.js"></script>
	<script type="text/javascript" src="Controllers/ChatController.js"></script>
	<script type="text/javascript" src="Controllers/JobController.js"></script>
	<script type="text/javascript" src="Controllers/UserHomeController.js"></script>
	<script type="text/javascript" src="Resources/JS/scripts.js"></script>

	<script type="text/javascript" src="Pages/Chat/ChatService.js"></script>
	<script src="Resources/JS/sockjs1.1.1.js"></script>
	<script src="Resources/JS/lodash4.16.3.js"></script>
	<script src="Resources/JS/stomp2.3.3.js"></script>

	<script src="Resources/JS/popper.min.js"></script>
	<script src="Resources/JS/bootstrap.min.js"></script>
</body>
</html>