<html>
<head>
<title>BlogBook - Homepage</title>
</head>
<body ng-app="myApp">
	<p ng-hide="currentUser==undefined">
		Welcome <a ng-click="" href="#/showUser">{{currentUser.firstName}}</a>
	</p>
	<table>
		<tr>
			<td><a href="#/">Home</a> |</td>
			<td ng-show="currentUser==undefined"><a href="#/login">Login</a>
				|</td>
			<td ng-show="currentUser==undefined"><a href="#/register">Register</a>
				|</td>
			<td><a href="#/aboutus">About Us</a></td>
			<td ng-hide="currentUser==undefined">| <a href="#/friends">Friends</a></td>
			<td ng-controller="NotificationController"
				ng-hide="currentUser==undefined">| <a href="#/notifications">Notifications
					({{notificationList.length}})</a></td>
			<td ng-hide="currentUser==undefined">| <a href="#/chat">Chat</a></td>
			<td ng-hide="currentUser==undefined">| <a
				ng-controller="UserController" ng-click="logout()" href="">Logout</a></td>
		</tr>
	</table>

	<div ng-hide="currentUser==undefined">
		<table>
			<tr>
				<th>Blog Menu</th>
				<td><a href="#/addBlog">Add Blog | </a></td>
				<td><a ng-controller="BlogController" href="#/blogList" href="">Blog
						List | </a></td>
				<td><a ng-controller="BlogController"
					ng-show="currentUser.role=='admin'" href="#/manageBlog">Manage
						Blog</a></td>
			</tr>
			<tr>
				<th>Forum Menu</th>
				<td><a href="#/addForum">Add Forum | </a></td>
				<td><a ng-controller="ForumController" href="#/forumList"
					href="">Forum List | </a></td>
				<td><a ng-controller="ForumController"
					ng-show="currentUser.role=='admin'" href="#/manageForum">Manage
						Forum</a></td>
			</tr>
			<tr>
				<th>Job Menu</th>
				<td><a href="#/addJob">Add Job | </a></td>
				<td><a ng-controller="JobController" href="#/jobList"
					href="">Job List | </a></td>
				<td><a ng-controller="JobController"
					ng-show="currentUser.role=='admin'" href="#/manageJob">Manage
						Job</a></td>
			</tr>
		</table>
	</div>

	<div ng-view></div>

	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.js"></script>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-cookies.js"></script>

	<script type="text/javascript" src="RouteConfig.js"></script>
	<script type="text/javascript" src="Controllers/UserController.js"></script>
	<script type="text/javascript" src="Controllers/BlogController.js"></script>
	<script type="text/javascript"
		src="Controllers/BlogCommentController.js"></script>
	<script type="text/javascript" src="Controllers/ForumController.js"></script>
	<script type="text/javascript"
		src="Controllers/ForumCommentController.js"></script>
	<script type="text/javascript" src="Controllers/FriendController.js"></script>
	<script type="text/javascript"
		src="Controllers/NotificationController.js"></script>
	<script type="text/javascript" src="Controllers/ChatController.js"></script>

	<script type="text/javascript" src="Pages/Chat/ChatService.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.3/lodash.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
</body>
</html>