<div ng-controller="BlogController" ng-init="getBlogList()">

	<ol>
		<li ng-repeat="blog in blogList"><a
			ng-click="showBlog(blog.blogId)" href="#/showBlog">{{blog.blogTitle}}</a></li>
	</ol>
	<h4></h4>
	<table>
		<tr>
			<th>My Blogs</th>
		</tr>
		<tr>
			<th>Blog Title</th>
			<th>Created on</th>
			<th>Delete</th>
		</tr>
		<tr ng-repeat="blog in blogList"
			ng-show="blog.username==currentUser.username">
			<td><a ng-click="showBlog(blog.blogId)" href="#/showBlog">{{blog.blogTitle}}</a></td>
			<td>{{blog.createdDate}}</td>
			<td><input type="button" value="Delete"
				ng-click="deleteBlog(blog.blogId)" /></td>
		</tr>
	</table>
</div>

