<div ng-controller="JobController" ng-init="getJobList()">
	<div id="tabPane-AllJobs" class="bg-block rounded"
		style="display: none;">
		<ol>
			<li ng-repeat="job in jobList" ng-show="job.jobStatus=='open'"><a
				ng-click="showJob(job.jobId)" href="#/showJob">{{job.jobDesignation}}</a></li>
		</ol>
	</div>

	<div id="tabPane-YourJobs" class="bg-block rounded">
		<div class="table-responsive">
			<table class="table" style="margin-bottom: unset;">
				<tr>
					<th>Job Designation</th>
					<th>Job Profile</th>
					<th>Requirements</th>
					<th>Job Description</th>
					<th>Status</th>
					<th></th>
				</tr>
				<tr ng-repeat="job in jobList"
					ng-show="job.username==currentUser.username">
					<td><a ng-click="showJob(job.jobId)" href="#/showJob">{{job.jobDesignation}}</a></td>
					<td>{{job.jobProfile}}</td>
					<td>{{job.qualificationRequired}}</td>
					<td>{{job.jobDescription}}</td>
					<td>
						<p ng-show="job.jobStatus=='open'">Open</p>
						<p ng-show="job.jobStatus=='closed'">Closed</p>
					</td>
					<td><a href="#/editJob?id={{job.jobId}}"><i
							class="fas fa-edit mr-1" title="Edit" style="color: #343a40;"></i></a><a
						href="" ng-click="deleteJob(job.jobId)"><i
							class="fas fa-trash-alt mr-1" title="Delete"
							style="color: #343a40;"></i></a></td>
				</tr>
			</table>
		</div>
	</div>
</div>